# Virtual Environment
.venv/

# Editor configuration
.vscode/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Django
gateway/staticfiles/
gateway/db.sqlite3
gateway/__pycache__/
gateway/**/__pycache__/
gateway/**/*.pyc