# Virtual Environment
.venv/

# Editor configuration
.vscode/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Environment variables
.env
.env.*

# Django
gateway/staticfiles/
gateway/db.sqlite3
gateway/__pycache__/
gateway/**/__pycache__/
gateway/**/*.pyc

# Build / dist
dist/
build/
*.egg-info/

# Logs
*.log

# OS
.DS_Store
Thumbs.db